<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            max-width: 400px;
            width: 100%;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .form-group i {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #aaa;
        }

        .form-group input {
            padding-left: 30px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2 class="text-center mb-4">Sign up</h2>
        <form action="/signUp" method="post" id="loginForm">
            <div class="form-group position-relative">
                <i class="fas fa-user"></i>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your username">
            </div>
            <div class="form-group position-relative">
                <i class="fas fa-envelope"></i>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group position-relative">
                <i class="fas fa-mobile-alt"></i>
                <input type="tel" class="form-control" id="mobileNumber" name="mobile"
                    placeholder="Enter your mobile number">
            </div>
            <div class="form-group position-relative">
                <i class="fas fa-lock"></i>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
            </div>
            <div class="form-group position-relative">
                <i class="fas fa-lock"></i>
                <input type="password" class="form-control" id="confirmPassword" name="confirmpassword"
                    placeholder="Confirm your password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            <div class="text-right">
                <a href="/login" class="text-danger font-weight-bold">Sign in</a>
            </div>
            <div class="my-3 text-center">
                <small class="text-muted">Or Sign Up with</small>
            </div>
            <div class="d-flex justify-content-center">
                <a href="/auth/google" class="btn btn-danger mx-2"><i class="fab fa-google"></i> Google</a>
                <a href="#" class="btn btn-primary mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
            </div>
        </form>
    </div>

    <% if (typeof message!='undefined' ) { %>
        <script>
            // Function to show the SweetAlert
            Swal.fire({
                title: 'Hello,',
                text: '<%=message %>',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        </script>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const form = document.getElementById('loginForm');
        const username = document.getElementById('name');
        const email = document.getElementById('email');
        const mobileNumber = document.getElementById('mobileNumber');
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            validateForm();
        });

        function validateForm() {
            let isValid = true;

            // Check for empty fields and spaces
            if (!username.value.trim()) {
                showError(username, 'Username is required');
                isValid = false;
            } else {
                removeError(username);
            }

            if (!email.value.trim()) {
                showError(email, 'Email is required');
                isValid = false;
            } else if (!isValidEmail(email.value.trim())) {
                showError(email, 'Invalid email address');
                isValid = false;
            } else {
                removeError(email);
            }

            if (!mobileNumber.value.trim()) {
                showError(mobileNumber, 'Mobile number is required');
                isValid = false;
            } else if (mobileNumber.value.trim().length != 10) {
                showError(mobileNumber, 'Phone number must be 10 characters long');
                isValid = false;
            } else {
                removeError(mobileNumber);
            }

            if (!password.value.trim()) {
                showError(password, 'Password is required');
                isValid = false;
            } else if (password.value.trim().length < 8) {
                showError(password, 'Password must be at least 8 characters long');
                isValid = false;
            } else {
                removeError(password);
            }

            if (!confirmPassword.value.trim()) {
                showError(confirmPassword, 'Confirm password is required');
                isValid = false;
            } else if (password.value.trim() !== confirmPassword.value.trim()) {
                showError(confirmPassword, 'Passwords do not match');
                isValid = false;
            } else {
                removeError(confirmPassword);
            }

            if (isValid) {
                // Form is valid, you can submit the form or perform other actions
                form.submit()
            }
        }

        function showError(input, message) {
            const formGroup = input.parentElement;
            formGroup.classList.add('has-danger');
            const errorMessage = formGroup.querySelector('small');
            if (!errorMessage) {
                const small = document.createElement('small');
                small.textContent = message;
                small.classList.add('form-text', 'text-danger');
                formGroup.appendChild(small);
            } else {
                errorMessage.textContent = message;
            }
        }

        function removeError(input) {
            const formGroup = input.parentElement;
            formGroup.classList.remove('has-danger');
            const errorMessage = formGroup.querySelector('small');
            if (errorMessage) {
                errorMessage.remove();
            }
        }

        function isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }
    </script>
</body>

</html>